:root {
  /*Colors*/
  --color-neutral-0: #ffffff;
  --color-neutral-950: #000000;
  --color-blue-200: #C1CEFF;
  --color-blue-400: #4784FF;
  --color-blue-600: #325CFF;
  --color-blue-700: #2854FE;
  /*Fonts*/
  --font-family-base: "Inter", sans-serif;
  /*Border*/
  --border: 1px solid var(--color-blue-400);
}